@import url('https://css.gg/css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body{
	overflow-x: hidden;
}

.homeContainer{
/*	background-color: #2A2B36;*/
	background-image: url("https://cdn.discordapp.com/attachments/831718717037215746/1062930930299310140/bg.png");
	background-size: contain;
	min-height: 100vh;
	min-width: 100vw;
	margin: 0px;
	padding: 0px;
}


.navBar{
	background-color: rgba(53, 54, 66, 1);
}

.PaddingRow{
	min-height: 15vh;
}

.profileIconRow{
	min-height: 25vh;
	text-align: center;
}

.introductionRow{
	min-height: 25vh;
}

.introductionRow>h1{
	letter-spacing: 1rem;
	text-align: center;
}

.introductionRow>hr.solid {
  border-top: 3px solid #bbb;
}

.introductionRow>p{
	text-align: center;
}

.navigationRow{
	min-height: 25vh;
}

.navigationRow>hr.solid {
  border-top: 1px solid #bbb;
}

.navigationRow>div {
  text-align: center;
}

.navigationRow>div>.navigationRowButton {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
}

.backButtonRow>div {
  text-align: center;
}

.footerRow{
	background-color: #2A2B36;
	text-align: center;
}

.bi-twitter::before {
	color: white;
	padding: 0.75rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 2rem;
	cursor: pointer;
	margin-left: 1.5rem;
}

.bi-twitch::before {
	color: white;
	padding: 0.75rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 2rem;
	cursor: pointer;
	margin-left: 1.5rem;
}

.bi-cup-hot-fill::before {
	color: white;
	padding: 0.75rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 2rem;
	cursor: pointer;
	margin-left: 1.5rem;
}

.bi-sliders2-vertical::before {
	color: white;
}

.bi-plus-square-dotted::before {
	margin-right: 0.5rem;
}

.commissionTitleCol>hr.solid {
  border-top: 1px solid #bbb;
}

.commissionTitleCol>h1{
	letter-spacing: 0.75rem;
	font-size:  1.5rem;
	text-align: center;
	font-weight: 200;
}

.commissionTitleCol>p{
	text-align: center;
	color: gray;
	letter-spacing: 0.5rem;
	font-size: 0.75rem;
}



.commissionContainer{
	background-color: #2A2B36;
	min-height: 100vh;
	min-width: 100vw;
	margin: 0px;
	padding: 0px;
}

.commissionContainer>.PaddingRow{
	min-height: 20vh;
}

.commissionTableCol>Table{
	text-align: center;
}

.commissionTableCol>Table>thead{
	color: white;
}

.commissionTableCol>Table>thead>tr>th{
	font-weight: Medium;
	padding-bottom: 1.5rem;
}

.commissionTableCol>Table>thead>tr{
	border-bottom: 2px solid #bbb;
}

.commissionTableCol>Table>tbody{
	color: lightgray;
}

.commissionTableCol>Table>tbody>tr>td{
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.commissionTableCol>Table>tbody>tr{
	border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

.additionalInfoCol>p{
	text-align: center;
	color: gray;
	letter-spacing: 0.5rem;
	font-size: 0.75rem;
}

.additionalInfoCol>hr.solid {
  border-top: 1px solid #bbb;
}

.dashboardContainer{
	background-color: #2A2B36;
	min-height: 100vh;
	min-width: 100vw;
	margin: 0px;
	padding: 0px;
}

.dashboardCol>Table>thead{
	color: white;
}

.dashboardCol>Table>thead>tr>th{
	font-weight: Medium;
	padding-bottom: 1rem;
}

.dashboardCol>Table>thead>tr{
	border-bottom: 2px solid #bbb;
}

.dashboardCol>Table>tbody{
	color: lightgray;
}

.dashboardCol>Table>tbody>tr>td{
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.dashboardCol>Table>tbody>tr{
	border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

.commissionCardImg{
	font-weight: 200;
}

.sampleWorks{
	justify-content: center;
}

.sampleWorksCol{
	max-height: 20rem;
	min-height: 20rem;
	object-fit: contain;
}

.sampleWorksCol2{
	max-height: 20rem;
	min-height: 20rem;
	object-fit: contain;
}

.sampleWorksDark{
	background-color: rgba(0, 0, 0, 0.0) !important;
	border-style: none !important;
}

.dashboardImg{
	max-height: 10rem;
	min-height: 10rem;
	object-fit: contain;
}

.PaddingRow2{
	min-height: 10vh;
}

.tosCol>p{
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.75rem;
	font-weight: lighter;
}

.tosCol>h1{
	text-align: center;
	color: gray;
	letter-spacing: 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}

.tosCol>hr.solid {
  border-top: 1px solid #bbb;
}

.tosInfoCol>div>p{
	text-align: justify;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.10rem;
	font-weight: lighter;
}

.tosInfoCol>h1{
	text-align: center;
	color: rgba(255, 255, 255, 0.75);
	letter-spacing: 0.5rem;
	font-size: 1.5rem;
	font-weight: normal;
}

.tosInfoCol>hr.solid {
  border-top: 1px solid #bbb;
}

.bi-chevron-right::before {
	color: white;
}